<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout width-full height="75px" margin>
   <vaadin-button icon="fonticon://Vaadin-Icons/e700" style-name="huge flat borderless icon-only" height-full plain-text _id="btnIcon"></vaadin-button>
   <vaadin-vertical-layout spacing="false" size-auto margin="false" :expand>
    <vaadin7-label style-name="large" size-auto plain-text _id="lblTitle">
      Dashboard 
    </vaadin7-label>
    <vaadin7-label style-name="tiny" size-auto plain-text>
      World of Trustworks 
    </vaadin7-label>
   </vaadin-vertical-layout>
   <vaadin-button icon="fonticon://Vaadin-Icons/e7ed" style-name="icon-only borderless" plain-text :middle></vaadin-button>
   <vaadin7-label size-auto plain-text _id="lblBreadcrum" :middle>
     Home / Dashboard 
   </vaadin7-label>
  </vaadin-horizontal-layout>
 </body>
</html>