<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="dark-blue" spacing="false" width-full>
   <vaadin-label visible="false" width="40px" plain-text _id="lblChildSpace"></vaadin-label>
   <vaadin-button icon="fonticon://Vaadin-Icons/e682" style-name="borderless flat multi-line" plain-text _id="btnMenuitemText" :middle :expand>
     Dashboard 
   </vaadin-button>
   <vaadin-button disable-on-click visible="false" style-name="borderless icon-only primary flat" plain-text _id="btnParentIndicator" :middle :right></vaadin-button>
   <vaadin-label width="10px" plain-text></vaadin-label>
  </vaadin-horizontal-layout>
 </body>
</html>