<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout style-name="card-1 ripple card-hoverable" spacing="false" width="300px">
   <vaadin-label icon="fonticon://Vaadin-Icons/e943" caption="Titel" style-name="tiny" width-full plain-text _id="txtEvent">
     Her er en tekst som er relativt lang og som måske brækker på midten 
   </vaadin-label>
  </vaadin-vertical-layout>
 </body>
</html>