<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="com_jarektoro_responsivelayout:com.jarektoro.responsivelayout">
 </head>
 <body>
  <vaadin-horizontal-layout width-full margin-left margin-right>
   <vaadin-horizontal-layout style-name="light-blue" width-full _id="hlBackground" :expand>
    <vaadin-horizontal-layout style-name="dark-blue" width-full _id="hlNameBackground" :expand>
     <vaadin-css-layout width="75px" height="75px" _id="imgPhoto"></vaadin-css-layout>
     <vaadin-label style-name="white-font" width-full plain-text _id="lblName" :middle :expand>
       Hans Ernst Lassen 
     </vaadin-label>
    </vaadin-horizontal-layout>
    <vaadin-vertical-layout spacing="false" width="65px" margin="false" :middle :center>
     <vaadin-label style-name="align-center tiny" plain-text :center>
       rate 
     </vaadin-label>
     <vaadin-text-field description="Hourly rate" style-name="align-center" width="65px" value="1500" _id="txtRate" :center></vaadin-text-field>
    </vaadin-vertical-layout>
    <vaadin-vertical-layout spacing="false" width="60px" margin="false" _id="vlHours" :middle :center>
     <vaadin-label style-name="align-center tiny" plain-text :center>
       hours 
     </vaadin-label>
     <vaadin-text-field description="Hours per week" style-name="align-center" width="60px" value="140" _id="txtHours" :center></vaadin-text-field>
    </vaadin-vertical-layout>
    <vaadin-button icon="fonticon://Vaadin-Icons/e911" style-name="borderless icon-only" plain-text _id="btnDelete" :middle :right></vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-horizontal-layout>
 </body>
</html>