<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="com_jarektoro_responsivelayout:com.jarektoro.responsivelayout">
 </head>
 <body>
  <vaadin-horizontal-layout width-full>
   <vaadin-horizontal-layout style-name="dark-blue" width-full :expand>
    <vaadin-css-layout width="75px" height="75px" _id="imgPhoto"></vaadin-css-layout>
    <vaadin-label style-name="white-font" width-full plain-text _id="lblName" :middle :expand>
      Hans Ernst Lassen 
    </vaadin-label>
   </vaadin-horizontal-layout>
   <vaadin-text-field style-name="align-right" width="150px" value="1500.0" _id="txtRate" :middle :right></vaadin-text-field>
   <vaadin-label style-name="align-center" plain-text :middle>
     kr 
   </vaadin-label>
  </vaadin-horizontal-layout>
 </body>
</html>