<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="server_droporchoose:server.droporchoose">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-css-layout style-name="card-3 card-no-padding" width-full _id="cardHolder" :middle :center>
    <vaadin-vertical-layout spacing="false" margin="false">
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px">
      <vaadin-button disable-on-click icon="fonticon://Vaadin-Icons/e67b" style-name="borderless icon-only quiet" plain-text :middle></vaadin-button>
      <vaadin-label plain-text _id="lblTitle" :middle :expand>
        Contract 
      </vaadin-label>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout spacing="false" margin-top="false" margin-bottom="false" _id="container">
      <vaadin-form-layout :center>
       <vaadin-combo-box caption="Type" width-full data-item-type="dk.trustworks.invoicewebui.model.enums.ContractType" _id="cbType"></vaadin-combo-box>
       <vaadin-combo-box caption="Status" width-full data-item-type="dk.trustworks.invoicewebui.model.enums.ContractStatus" _id="cbStatus"></vaadin-combo-box>
       <vaadin-text-field caption="Contract Id" description="

" width-full _id="txtRefid"></vaadin-text-field>
       <vaadin-date-field caption="Active from" resolution="month" date-format="MMM yyyy" width-full value="2017-09-07" _id="dfFrom"></vaadin-date-field>
       <vaadin-date-field caption="Active to" resolution="month" date-format="MMM yyyy" width-full value="2018-07-06" _id="dfTo"></vaadin-date-field>
       <vaadin-text-field caption="Amount" width-full value="1.000.000 kr" _id="txtAmount"></vaadin-text-field>
       <vaadin-text-area caption="Note" width-full _id="txtNote"></vaadin-text-area>
       <server_droporchoose-upload-component visible="false" caption="Contract" width-full></server_droporchoose-upload-component>
       <vaadin-button icon="fonticon://Vaadin-Icons/e701" style-name="primary flat" width-full plain-text _id="btnUpdate">
         Update 
       </vaadin-button>
       <vaadin-button visible="false" icon="fonticon://Vaadin-Icons/e701" style-name="primary flat" width-full plain-text _id="btnCreate">
         Create 
       </vaadin-button>
      </vaadin-form-layout>
     </vaadin-vertical-layout>
     <vaadin-css-layout visible="false" width-full _id="cssNotification">
      <vaadin-label style-name="success" width-full plain-text _id="lblNotification">
        Consider this date range: 
      </vaadin-label>
     </vaadin-css-layout>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>