<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-css-layout style-name="card-3 card-no-padding" width-full _id="cardHolder" :middle :center>
    <vaadin-vertical-layout spacing="false" margin="false">
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px">
      <vaadin-button disable-on-click icon="fonticon://Vaadin-Icons/e67b" style-name="borderless icon-only quiet" plain-text :middle></vaadin-button>
      <vaadin-label plain-text _id="lblTitle" :middle :expand>
        Contract 
      </vaadin-label>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout spacing="false" size-full _id="container">
      <vaadin-form-layout spacing="false">
       <vaadin-label caption="Contract type" width-full _id="lblType"></vaadin-label>
       <vaadin-check-box-group caption="Projects" width-full data-item-type="dk.trustworks.invoicewebui.model.Project" data-property-id="name" _id="chkProjects"></vaadin-check-box-group>
       <vaadin-label caption="Period" plain-text _id="lblPeriod">
         Maj 2017 - Apr 2018 
       </vaadin-label>
       <vaadin-label caption="Value" plain-text _id="lblAmount">
         4.000.000 kr. 
       </vaadin-label>
      </vaadin-form-layout>
      <vaadin-horizontal-layout width-full>
       <vaadin-panel style-name="v-scrollable" _id="photosContentHolder" :expand>
        <vaadin-horizontal-layout _id="photoContainer"></vaadin-horizontal-layout>
       </vaadin-panel>
      </vaadin-horizontal-layout>
      <vaadin-button width-full plain-text _id="btnEdit">
        Edit Contract 
      </vaadin-button>
      <vaadin-button style-name="danger" width-full plain-text _id="btnDelete">
        Delete Contract 
      </vaadin-button>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>