<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-css-layout style-name="card-3 card-no-padding" width-full _id="cardHolder" :middle :center>
    <vaadin-vertical-layout spacing="false" margin="false">
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px">
      <vaadin-button disable-on-click icon="fonticon://Vaadin-Icons/e67b" style-name="borderless icon-only quiet" plain-text :middle></vaadin-button>
      <vaadin-label plain-text _id="lblTitle" :middle :expand>
        Contract 
      </vaadin-label>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout spacing="false" size-full _id="container">
      <vaadin-form-layout size-auto :center>
       <vaadin-combo-box caption="Type" data-item-type="dk.trustworks.invoicewebui.model.enums.ContractType" _id="cbType"></vaadin-combo-box>
       <vaadin-check-box-group visible="false" caption="Projects" width-full data-item-type="dk.trustworks.invoicewebui.model.Project" data-property-id="name" _id="chkProjects"></vaadin-check-box-group>
       <vaadin-date-field caption="Active from" resolution="month" visible="false" date-format="MMM yyyy" value="2017-09-07" _id="dfFrom"></vaadin-date-field>
       <vaadin-date-field caption="Active to" resolution="month" visible="false" date-format="MMM yyyy" value="2018-07-06" _id="dfTo"></vaadin-date-field>
       <vaadin-text-field visible="false" caption="Amount" value="1.000.000 kr" _id="txtAmount"></vaadin-text-field>
       <vaadin-button icon="fonticon://Vaadin-Icons/e701" style-name="primary flat" plain-text _id="btnUpdate">
         Update 
       </vaadin-button>
       <vaadin-button visible="false" icon="fonticon://Vaadin-Icons/e701" style-name="primary flat" plain-text _id="btnCreate">
         Create 
       </vaadin-button>
       <vaadin-button plain-text _id="btnEdit">
         Edit 
       </vaadin-button>
      </vaadin-form-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>