<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-form-layout size-auto>
    <vaadin-combo-box caption="Client" data-item-type="java.lang.String">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
    <vaadin-combo-box caption="Type" width-full data-item-type="java.lang.String">
     <option item="AMOUNT">Amount</option>
     <option item="PERIOD">Period</option>
    </vaadin-combo-box>
    <vaadin-combo-box caption="Project" width-full data-item-type="java.lang.String">
     <option item="Option1">Option 1</option>
     <option item="Option2">Option 2</option>
     <option item="Option3">Option 3</option>
    </vaadin-combo-box>
    <vaadin-date-field caption="Active from" resolution="month" date-format="MMM yyyy" width-full value="2017-09-07"></vaadin-date-field>
    <vaadin-date-field caption="Active to" resolution="month" date-format="MMM yyyy" width-full value="2018-07-06"></vaadin-date-field>
    <vaadin-text-field caption="Amount" width-full value="1.000.000 kr"></vaadin-text-field>
   </vaadin-form-layout>
  </vaadin-vertical-layout>
 </body>
</html>