<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="server_droporchoose:server.droporchoose">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-vertical-layout size-full margin="false" :expand>
     <vaadin-vertical-layout style-name="light-blue" spacing="false" size-full :middle :center>
      <vaadin-css-layout width="125px" height="125px" _id="imgUser" :middle :center></vaadin-css-layout>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout size-full :expand>
      <vaadin-horizontal-layout style-name="full-border" width-full margin :center>
       <vaadin-vertical-layout spacing="false" size-auto margin="false" :middle :center>
        <vaadin-image width="75px" height="75px" _id="imgDna" :center></vaadin-image>
        <vaadin-label style-name="small" plain-text _id="lblDna" :center>
          DNA 
        </vaadin-label>
       </vaadin-vertical-layout>
       <vaadin-vertical-layout margin="false" _id="vlChoiceDNA" :expand>
        <vaadin-vertical-layout margin="false" :center>
         <vaadin-slider max="4" caption="performance" min="-1" width-full _id="rbgPerformanceDNA"></vaadin-slider>
         <vaadin-slider max="9" caption="potential" min="-1" width-full _id="rbgPotentialDNA"></vaadin-slider>
        </vaadin-vertical-layout>
        <vaadin-button enabled="false" width="150px" plain-text _id="btnDNA" :center>
          Submit 
        </vaadin-button>
       </vaadin-vertical-layout>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout style-name="full-border" width-full margin :center :expand>
       <vaadin-vertical-layout spacing="false" size-auto margin="false" :middle :center>
        <vaadin-image width="75px" height="75px" _id="imgCustomer"></vaadin-image>
        <vaadin-label style-name="small" plain-text _id="lblCustomer" :center>
          Customer 
        </vaadin-label>
       </vaadin-vertical-layout>
       <vaadin-vertical-layout margin="false" _id="vlChoiceCustomer" :expand>
        <vaadin-vertical-layout margin="false" :center>
         <vaadin-slider max="4" caption="performance" min="-1" width-full _id="rbgPerformanceCustomer"></vaadin-slider>
         <vaadin-slider max="9" caption="potential" min="-1" width-full _id="rbgPotentialCustomer"></vaadin-slider>
        </vaadin-vertical-layout>
        <vaadin-button enabled="false" width="150px" plain-text _id="btnCustomer" :center>
          Submit 
        </vaadin-button>
       </vaadin-vertical-layout>
      </vaadin-horizontal-layout>
      <vaadin-horizontal-layout style-name="full-border" width-full margin :center :expand>
       <vaadin-vertical-layout spacing="false" size-auto margin="false" :middle :center>
        <vaadin-image width="75px" height="75px" _id="imgTeam"></vaadin-image>
        <vaadin-label style-name="small" plain-text _id="lblTeam" :center>
          Team 
        </vaadin-label>
       </vaadin-vertical-layout>
       <vaadin-vertical-layout margin="false" _id="vlChoiceTeam" :expand>
        <vaadin-vertical-layout margin="false" :center>
         <vaadin-slider max="4" caption="performance" min="-1" width-full _id="rbgPerformanceTeam"></vaadin-slider>
         <vaadin-slider max="9" caption="potential" min="-1" width-full _id="rbgPotentialTeam"></vaadin-slider>
        </vaadin-vertical-layout>
        <vaadin-button enabled="false" width="150px" plain-text _id="btnTeam" :center>
          Submit 
        </vaadin-button>
       </vaadin-vertical-layout>
      </vaadin-horizontal-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>