<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="server_droporchoose:server.droporchoose">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-vertical-layout size-full :expand>
     <vaadin-vertical-layout style-name="light-blue" spacing="false" size-full :center>
      <vaadin-css-layout width="125px" height="125px" _id="imgUser" :middle :center></vaadin-css-layout>
     </vaadin-vertical-layout>
     <vaadin-horizontal-layout size-full>
      <vaadin-vertical-layout style-name="full-border" size-auto :center>
       <vaadin-image width="75px" height="75px" _id="imgDna" :middle :center></vaadin-image>
       <vaadin-label style-name="small" plain-text _id="lblDna" :center>
         DNA 
       </vaadin-label>
       <vaadin-vertical-layout size-auto margin="false" _id="vlChoiceDNA">
        <vaadin-horizontal-layout :center>
         <vaadin-radio-button-group caption="performance" data-item-type="java.lang.String" _id="rbgPerformanceDNA" :center>
          <option item="0">0</option>
          <option item="1">1</option>
          <option item="2">2</option>
          <option item="3">3</option>
          <option item="4">4</option>
         </vaadin-radio-button-group>
         <vaadin-radio-button-group caption="potential" data-item-type="java.lang.String" _id="rbgPotentialDNA" :center>
          <option item="0">0</option>
          <option item="1">1</option>
          <option item="2">2</option>
          <option item="3">3</option>
          <option item="4">4</option>
          <option item="5">5</option>
          <option item="6">6</option>
          <option item="7">7</option>
          <option item="8">8</option>
          <option item="9">9</option>
         </vaadin-radio-button-group>
        </vaadin-horizontal-layout>
        <vaadin-button enabled="false" plain-text _id="btnDNA" :center>
          Submit 
        </vaadin-button>
       </vaadin-vertical-layout>
      </vaadin-vertical-layout>
      <vaadin-vertical-layout style-name="full-border" size-auto :center>
       <vaadin-image width="75px" height="75px" _id="imgCustomer" :middle :center></vaadin-image>
       <vaadin-label style-name="small" plain-text _id="lblCustomer" :center>
         Customer 
       </vaadin-label>
       <vaadin-vertical-layout size-auto margin="false" _id="vlChoiceCustomer">
        <vaadin-horizontal-layout :center>
         <vaadin-radio-button-group caption="performance" data-item-type="java.lang.String" _id="rbgPerformanceCustomer" :center>
          <option item="0">0</option>
          <option item="1">1</option>
          <option item="2">2</option>
          <option item="3">3</option>
          <option item="4">4</option>
         </vaadin-radio-button-group>
         <vaadin-radio-button-group caption="potential" data-item-type="java.lang.String" _id="rbgPotentialCustomer" :center>
          <option item="0">0</option>
          <option item="1">1</option>
          <option item="2">2</option>
          <option item="3">3</option>
          <option item="4">4</option>
          <option item="5">5</option>
          <option item="6">6</option>
          <option item="7">7</option>
          <option item="8">8</option>
          <option item="9">9</option>
         </vaadin-radio-button-group>
        </vaadin-horizontal-layout>
        <vaadin-button enabled="false" plain-text _id="btnCustomer" :center>
          Submit 
        </vaadin-button>
       </vaadin-vertical-layout>
      </vaadin-vertical-layout>
      <vaadin-vertical-layout style-name="full-border" size-auto :center>
       <vaadin-image width="75px" height="75px" _id="imgTeam" :middle :center></vaadin-image>
       <vaadin-label style-name="small" plain-text _id="lblTeam" :center>
         Team 
       </vaadin-label>
       <vaadin-vertical-layout size-auto margin="false" _id="vlChoiceTeam">
        <vaadin-horizontal-layout :center>
         <vaadin-radio-button-group caption="performance" data-item-type="java.lang.String" _id="rbgPerformanceTeam" :center>
          <option item="0">0</option>
          <option item="1">1</option>
          <option item="2">2</option>
          <option item="3">3</option>
          <option item="4">4</option>
         </vaadin-radio-button-group>
         <vaadin-radio-button-group caption="potential" data-item-type="java.lang.String" _id="rbgPotentialTeam" :center>
          <option item="0">0</option>
          <option item="1">1</option>
          <option item="2">2</option>
          <option item="3">3</option>
          <option item="4">4</option>
          <option item="5">5</option>
          <option item="6">6</option>
          <option item="7">7</option>
          <option item="8">8</option>
          <option item="9">9</option>
         </vaadin-radio-button-group>
        </vaadin-horizontal-layout>
        <vaadin-button enabled="false" plain-text _id="btnTeam" :center>
          Submit 
        </vaadin-button>
       </vaadin-vertical-layout>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>