<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="server_droporchoose:server.droporchoose">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-1 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-horizontal-layout size-full>
     <vaadin-vertical-layout style-name="light-grey" :expand>
      <vaadin-label caption="Name:" plain-text>
        Hans Lassen 
      </vaadin-label>
      <vaadin-label caption-as-html caption="Score (???):" plain-text>
        9.0 
      </vaadin-label>
      <vaadin-label caption="Recommendation:" width-full plain-text>
        This person is not contributing well to TW, neither are they displaying signs of potential to develop further. Advise is to deselect after further evaluation. 
      </vaadin-label>
      <vaadin-label caption="Abnormalities:">
        Michael: 2 DNA 
       <br>Hans: 3 Team 
      </vaadin-label>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout spacing="false" width="800px" margin="false" :expand>
      <vaadin-absolute-layout width="800px" height="700px"></vaadin-absolute-layout>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>