<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="org_vaadin_addon_vol3:org.vaadin.addon.vol3">
 </head>
 <body>
  <vaadin-vertical-layout height="450px">
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" size-full margin="false">
    <vaadin-vertical-layout spacing="false" size-full margin="false" :expand>
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px">
      <vaadin-label plain-text _id="lblTitle" :middle :expand></vaadin-label>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout spacing="false" height="400px" margin="false" _id="panel" :expand>
      <vaadin-button style-name="flat" size-full plain-text _id="btnAddFaq" :middle :center>
        Add Faq 
      </vaadin-button>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>