<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="org_vaadin_addon_vol3:org.vaadin.addon.vol3">
 </head>
 <body>
  <vaadin-vertical-layout height="450px">
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" size-full margin="false">
    <vaadin-vertical-layout spacing="false" size-full margin="false" :expand>
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px">
      <vaadin-button disable-on-click icon="fonticon://Vaadin-Icons/e788" style-name="borderless icon-only" plain-text :middle></vaadin-button>
      <vaadin-label plain-text _id="lblTitle" :middle :expand>
        Project Location 
      </vaadin-label>
      <vaadin-text-field visible="false" width-full _id="txtTitle" :expand></vaadin-text-field>
      <vaadin-button icon="fonticon://Vaadin-Icons/e771" style-name="borderless icon-only" plain-text _id="btnEdit"></vaadin-button>
     </vaadin-horizontal-layout>
     <vaadin-panel style-name="v-scrollable" height="400px" _id="panel" :expand>
      <vaadin-vertical-layout spacing="false" _id="cardHolder">
       <vaadin-label width-full _id="lblContent">
         Label 
       </vaadin-label>
       <vaadin-rich-text-area visible="false" size-full _id="txtContent" :expand></vaadin-rich-text-area>
       <vaadin-horizontal-layout width-full>
        <vaadin-button visible="false" style-name="friendly flat" width-full plain-text _id="btnSave">
          Save 
        </vaadin-button>
        <vaadin-button visible="false" style-name="friendly flat danger" width-full plain-text _id="btnDelete">
          Delete 
        </vaadin-button>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
     </vaadin-panel>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>