<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="org_vaadin_addon_vol3:org.vaadin.addon.vol3">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-image :center></vaadin-image>
   <vaadin-label style-name="h1" plain-text :middle :center>
     How can we help you? 
   </vaadin-label>
   <vaadin-text-field icon="fonticon://Vaadin-Icons/e805" style-name="inline-icon" placeholder="Search for keywords" width-full _id="txtSearchField" :middle :center></vaadin-text-field>
   <vaadin-accordion _id="accFaq"></vaadin-accordion>
  </vaadin-vertical-layout>
 </body>
</html>