# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
/web-api/web-api.iml
.DS_Store
.designer/
.idea/
AngularTest/
client-service/.DS_Store
client-service/src/.DS_Store
client-service/src/main/.DS_Store
client-service/src/main/java/.DS_Store
client-service/src/main/java/dk/.DS_Store
client-service/src/main/java/dk/trustworks/.DS_Store
client-service/src/test/
client-service/target/
discovery-service/src/test/
discovery-service/target/
gateway-service/src/test/
gateway-service/target/
invoice-service/src/test/
invoice-service/target/
invoice-webui/.DS_Store
invoice-webui/src/test/
invoice-webui/target/
mobile-api/src/test/
mobile-api/target/
time-service/src/test/
time-service/target/
timemanager-webui/target/
user-service/.DS_Store
user-service/src/.DS_Store
user-service/src/main/.DS_Store
user-service/src/main/java/.DS_Store
user-service/src/main/java/dk/.DS_Store
user-service/src/main/java/dk/trustworks/.DS_Store
user-service/src/main/java/dk/trustworks/model/.DS_Store
user-service/src/test/
user-service/target/
web-api/src/test/
web-api/target/
zipkin-service/src/test/
zipkin-service/target/
/client-service/client-service.iml
/discovery-service/discovery-service.iml
/gateway-service/gateway-service.iml
/invoice-service/invoice-service.iml
/invoice-webui/invoice-webui.iml
/mobile-api/mobile-api.iml
/time-service/time-service.iml
/timemanager-webui/timemanager-webui.iml
/user-service/user-service.iml
/zipkin-service/zipkin-service.iml
invoice-webui/src/main/resources/VAADIN/addons/
invoice-webui/src/main/resources/VAADIN/themes/material/
invoice-webui/src/main/resources/VAADIN/themes/valo/
