@import "../valo/_valo.scss";
@import "addons";
@import "../material/material.scss";
@import "designs.scss";

$mat-background-color: #fafafa; // #fafafa for a light and #303030 for a dark theme
$v-focus-color: #00BCD4;

.invoice {
  @include valo;
  @include addons;
  @include material;

  vaadin-grid {
    height: auto;
  }

  .loginBox {
    max-width: 300px;
  }

  .holder {
    //overflow: hidden;
    display: inline;
  }
  .holder img {
    height: 300px;
    width: auto;
    object-fit: cover;
  }

  .card-block {
    max-height: 300px;
  }

  .cut_text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .top-bar {
    background-color: #8dacbf;
  }


  // Your theme's rules go here
  $v-app-loading-text: "Loading Resources...";
  .label-project-description, .label-total-titel, .label-total-value {
    background-color: #CCCCCC;
  }

  .btnTour {
    background-color: #fbb14d;
  }

  .invoice-preview {
    box-shadow: 10px 10px 5px grey;
    border-radius: 5px;
    border: 1px solid #000000;
    padding: 20px;
  }

  .v-vertical.invoice-container {
    padding: 20px;
  }

  .box-project-description {
    background-color: #CCCCCC;
    padding: 20px;
    border: 1px solid black;
  }

  .box-border {
    border-bottom: 1px solid black;
  }

  .invoice-details {
    padding: 20px;
  }

  .v-generated-body {
    // change the overflow from hidden to auto
    overflow: auto;
    // copy the rest as it was
    margin: 0;
    padding: 0;
    border: 0;
  }

  .modal-invoice-window {
    overflow: auto;
  }
}