<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding medium-blue" spacing="false" height="150px" margin="false" _id="cardHolder">
    <vaadin-vertical-layout>
     <vaadin-vertical-layout>
      <vaadin-horizontal-layout width-full>
       <vaadin-image width="100px" height="100px" _id="imgNotification" :middle></vaadin-image>
       <vaadin-vertical-layout :expand>
        <vaadin-label style-name="huge bold white-font" width-full plain-text _id="lblDescription" :middle :center>
          Have you been on speed date with Gisla? 
        </vaadin-label>
        <vaadin-horizontal-layout width-full :middle :right>
         <vaadin-label visible="false" style-name="white-font" width-full plain-text _id="lblDetails" :expand>
           Label 
         </vaadin-label>
         <vaadin-button style-name="flat" plain-text _id="btndismiss">
           Dismiss 
         </vaadin-button>
        </vaadin-horizontal-layout>
       </vaadin-vertical-layout>
      </vaadin-horizontal-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>