<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-horizontal-layout size-full>
   <vaadin-form-layout style-name="very-light-grey" width="240px" height-full margin-right>
    <vaadin-date-field show-iso-week-numbers placeholder="receipt date" date-format="yyyy-MM-dd" width-full _id="dfReceiptDate"></vaadin-date-field>
    <vaadin-combo-box popup-width="" empty-selection-allowed="false" placeholder="project" width-full data-item-type="dk.trustworks.invoicewebui.model.Project" _id="cbProject"></vaadin-combo-box>
    <vaadin-text-area placeholder="description" width-full maxlength="150" _id="txtDescription"></vaadin-text-area>
    <vaadin-vertical-layout spacing="false" size-auto margin="false">
     <vaadin-label style-name="tiny" plain-text>
       amount w/o tax 
     </vaadin-label>
     <vaadin-text-field icon="fonticon://Vaadin-Icons/e913" description="amount with no tax" style-name="align-right inline-icon" placeholder="w/o tax" width-full _id="txtAmount"></vaadin-text-field>
    </vaadin-vertical-layout>
    <vaadin-button width-full plain-text _id="btnAddReceipt">
      ADD EXPENSE 
    </vaadin-button>
   </vaadin-form-layout>
   <vaadin-grid-layout spacing width-full _id="gridExistingReceipts" :expand>
    <row>
     <column>
      <vaadin-label style-name="bold" plain-text>
        Date 
      </vaadin-label>
     </column>
     <column expand="1.0">
      <vaadin-label style-name="bold" plain-text>
        Project 
      </vaadin-label>
     </column>
     <column>
      <vaadin-label style-name="bold" plain-text>
        Description 
      </vaadin-label>
     </column>
     <column>
      <vaadin-label style-name="align-right bold" plain-text>
        Amount 
      </vaadin-label>
     </column>
     <column>
      <vaadin-label plain-text></vaadin-label>
     </column>
    </row>
   </vaadin-grid-layout>
  </vaadin-horizontal-layout>
 </body>
</html>