<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-horizontal-layout width-full>
   <vaadin-button visible="false" icon="fonticon://Vaadin-Icons/e7ad" style-name="flat" plain-text _id="btnDelete" :middle :center></vaadin-button>
   <vaadin-image height-full _id="imgLogo"></vaadin-image>
   <vaadin-vertical-layout spacing="false" size-auto margin="false" :middle :expand>
    <vaadin-label style-name="colored bold" plain-text _id="txtTaskname">
      Label 
    </vaadin-label>
    <vaadin-label style-name="light small" plain-text _id="txtProjectname">
      Label 
    </vaadin-label>
   </vaadin-vertical-layout>
   <vaadin-css-layout width="30px" height="30px" _id="imgConsultant" :middle :right></vaadin-css-layout>
  </vaadin-horizontal-layout>
 </body>
</html>