<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding medium-blue" spacing="false" margin="false" _id="cardHolder">
    <vaadin-vertical-layout :middle :center>
     <vaadin-vertical-layout style-name="v-scrollable" height="475px" :middle :center>
      <vaadin-vertical-layout :middle :center>
       <vaadin-label style-name="huge bold white-font align-center" width-full plain-text :middle :center>
         Key Purposes 2018/19 
       </vaadin-label>
       <vaadin-label plain-text></vaadin-label>
       <vaadin-label style-name="large align-center white-font" width-full plain-text _id="lblPurp1" :center>
         My first and most important key purpose this year, its going to be great 
       </vaadin-label>
       <vaadin-button icon="fonticon://Vaadin-Icons/e702" style-name="icon-only borderless white-font" plain-text :middle :center></vaadin-button>
       <vaadin-label style-name="large align-center white-font" width-full plain-text _id="lblPurp2">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
       </vaadin-label>
       <vaadin-button icon="fonticon://Vaadin-Icons/e702" style-name="icon-only borderless white-font" plain-text :center></vaadin-button>
       <vaadin-label style-name="large align-center white-font" width-full plain-text _id="lblPurp3">
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat 
       </vaadin-label>
      </vaadin-vertical-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>