<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding medium-blue" spacing="false" height="150px" margin="false" _id="cardHolder">
    <vaadin-vertical-layout>
     <vaadin-vertical-layout>
      <vaadin-vertical-layout>
       <vaadin-label style-name="huge bold white-font" plain-text :middle :center>
         Why not invite Gisla to a speed date? 
       </vaadin-label>
      </vaadin-vertical-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>