<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="org_vaadin_teemu_ratingstars:org.vaadin.teemu.ratingstars">
 </head>
 <body>
  <vaadin-horizontal-layout style-name="small" width-full height="30px">
   <vaadin-label width-full plain-text _id="lblAmbitionName" :middle :expand>
     Label 
   </vaadin-label>
   <org_vaadin_teemu_ratingstars-rating-stars _id="ratingStars" :middle :right></org_vaadin_teemu_ratingstars-rating-stars>
   <vaadin-button style-name="tiny" width="100px" plain-text _id="btnAmbition" :middle :right>
     status quo 
   </vaadin-button>
  </vaadin-horizontal-layout>
 </body>
</html>