<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-vertical-layout>
     <vaadin-vertical-layout style-name="v-scrollable" height="475px">
      <vaadin-vertical-layout _id="formLayout">
       <vaadin-text-field caption="Full name" placeholder="full name" width-full _id="txtName"></vaadin-text-field>
       <vaadin-date-field caption="Birthday" placeholder="birthday &amp; year" date-format="dd. MMMM yyyy" width-full _id="dfBirthday"></vaadin-date-field>
       <vaadin-text-field caption="Street" width-full _id="txtStreet"></vaadin-text-field>
       <vaadin-text-field caption="Postal code" width-full _id="txtPostal"></vaadin-text-field>
       <vaadin-text-field caption="City" width-full _id="txtCity"></vaadin-text-field>
       <vaadin-button width-full plain-text _id="btnUpdate">
         Update 
       </vaadin-button>
       <vaadin-combo-box visible="false" caption="Educational Level" style-name="borderless" width-full data-item-type="java.lang.String">
        <option item="SomeHighschool">Some Highschool</option>
        <option item="Option2">Highschool Diploma</option>
        <option item="Option3">Some College</option>
        <option item="Option4">Doctorate Degree</option>
        <option item="Option5">Doctorate Degree</option>
        <option item="Option6">Doctorate Degree</option>
        <option item="Option7">Doctorate Degree</option>
       </vaadin-combo-box>
      </vaadin-vertical-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>