<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-css-layout width-full>
   <vaadin-vertical-layout style-name="card-2 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-image width-full height="50%" _id="imgTop"></vaadin-image>
    <vaadin-vertical-layout size-full :expand>
     <vaadin-text-field style-name="large" placeholder="username" width-full _id="txtUsername"></vaadin-text-field>
     <vaadin-button style-name="flat" width-full plain-text _id="btnLogin">
       Reset Password 
     </vaadin-button>
     <vaadin-horizontal-layout _id="hlBackToLogin" :right>
      <vaadin-label style-name="tiny" plain-text>
        back to login 
      </vaadin-label>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-css-layout>
 </body>
</html>