<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout margin="false">
   <vaadin-horizontal-layout width-full>
    <vaadin-label style-name="h2" plain-text>
      Invoices 
    </vaadin-label>
    <vaadin-button style-name="friendly" plain-text _id="btnTour" :middle :right>
      Tour 
    </vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-grid width-full data-item-type="dk.trustworks.network.dto.Invoice" _id="gridInvoiceList">
    <table>
     <colgroup>
      <col column-id="clientname" sortable>
      <col column-id="projectname" sortable>
      <col column-id="invoicenumber" sortable>
      <col column-id="invoicedate" sortable>
      <col column-id="type" sortable>
      <col column-id="status" sortable>
      <col column-id="sumNoTax" sortable>
      <col column-id="sumWithTax" sortable>
     </colgroup>
     <thead>
      <tr default>
       <th plain-text column-ids="clientname">Client Name</th>
       <th plain-text column-ids="projectname">Project Name</th>
       <th plain-text column-ids="invoicenumber">Invoice Number</th>
       <th plain-text column-ids="invoicedate">Invoice Date</th>
       <th plain-text column-ids="type">Invoice Type</th>
       <th plain-text column-ids="status">Status</th>
       <th plain-text column-ids="sumNoTax">Amount</th>
       <th plain-text column-ids="sumWithTax">Amount w. Tax</th>
      </tr>
     </thead>
     <tbody></tbody>
    </table>
   </vaadin-grid>
   <vaadin-horizontal-layout>
    <vaadin-button enabled="false" style-name="friendly" width="200px" plain-text _id="btnDownloadPdf">
      Download Invoice PDF 
    </vaadin-button>
    <vaadin-button enabled="false" style-name="danger" plain-text _id="btnCreateCreditNota">
      Create Credit Note 
    </vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-label style-name="h2" plain-text>
     Sub totals 
   </vaadin-label>
   <vaadin-grid width-full data-item-type="dk.trustworks.web.model.SubTotal" _id="gridSubTotals">
    <table>
     <colgroup>
      <col column-id="year" sortable>
      <col column-id="jan" sortable>
      <col column-id="feb" sortable>
      <col column-id="mar" sortable>
      <col column-id="apr" sortable>
      <col column-id="may" sortable>
      <col column-id="jun" sortable>
      <col column-id="jul" sortable>
      <col column-id="aug" sortable>
      <col column-id="sep" sortable>
      <col column-id="oct" sortable>
      <col column-id="nov" sortable>
      <col column-id="dec" sortable>
      <col column-id="sumnotax" sortable>
      <col column-id="sumwithtax" sortable>
     </colgroup>
     <thead>
      <tr default>
       <th plain-text column-ids="year">Year</th>
       <th plain-text column-ids="jan">Jan</th>
       <th plain-text column-ids="feb">Feb</th>
       <th plain-text column-ids="mar">Mar</th>
       <th plain-text column-ids="apr">Apr</th>
       <th plain-text column-ids="may">May</th>
       <th plain-text column-ids="jun">Jun</th>
       <th plain-text column-ids="jul">Jul</th>
       <th plain-text column-ids="aug">Aug</th>
       <th plain-text column-ids="sep">Sep</th>
       <th plain-text column-ids="oct">Oct</th>
       <th plain-text column-ids="nov">Nov</th>
       <th plain-text column-ids="dec">Dec</th>
       <th plain-text column-ids="sumnotax">Sum</th>
       <th plain-text column-ids="sumwithtax">Sum w. Tax</th>
      </tr>
     </thead>
     <tbody></tbody>
    </table>
   </vaadin-grid>
  </vaadin-vertical-layout>
 </body>
</html>