<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-vertical-layout spacing="false" size-full margin="false" :expand>
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px">
      <vaadin-button disable-on-click icon="fonticon://Vaadin-Icons/e913" style-name="borderless icon-only quiet" plain-text :middle></vaadin-button>
      <vaadin-label plain-text _id="lblTitle" :middle :expand>
        CKO Budget/Expenses 
      </vaadin-label>
      <vaadin-button icon="fonticon://Vaadin-Icons/e771" style-name="borderless icon-only" height-full plain-text _id="btnEdit"></vaadin-button>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout _id="chartContainer"></vaadin-vertical-layout>
     <vaadin-horizontal-layout visible="false" width-full margin _id="dataContainer">
      <vaadin-vertical-layout width="300px" margin="false" _id="hlAddBar">
       <vaadin-date-field required-indicator-visible caption="date:" placeholder="date" date-format="yyyy-MM-dd" width-full _id="dfDate"></vaadin-date-field>
       <vaadin-text-field caption="days:" width-full _id="txtDays"></vaadin-text-field>
       <vaadin-text-field caption="description:" placeholder="description" width-full _id="txtDescription" :expand></vaadin-text-field>
       <vaadin-text-area caption="comments:" width-full maxlength="250" _id="txtComments"></vaadin-text-area>
       <vaadin-combo-box caption="type:" placeholder="select type..." width-full data-item-type="dk.trustworks.invoicewebui.model.enums.CKOExpenseType" data-property-id="caption" _id="cbType"></vaadin-combo-box>
       <vaadin-combo-box caption="status:" placeholder="select status..." width-full data-item-type="dk.trustworks.invoicewebui.model.enums.CKOExpenseStatus" data-property-id="caption" _id="cbStatus"></vaadin-combo-box>
       <vaadin-combo-box caption="purpose:" placeholder="select purpose..." width-full data-item-type="dk.trustworks.invoicewebui.model.enums.CKOExpensePurpose" data-property-id="caption" _id="cbPurpose"></vaadin-combo-box>
       <vaadin-text-field caption="price (no tax):" placeholder="price w. no tax" width-full _id="txtPrice"></vaadin-text-field>
       <vaadin-button style-name="flat friendly" width-full plain-text _id="btnAddSalary">
         CREATE 
       </vaadin-button>
      </vaadin-vertical-layout>
      <vaadin-vertical-layout size-full margin="false" :expand>
       <vaadin-grid size-full data-item-type="dk.trustworks.invoicewebui.model.CKOExpense" selection-mode="multi" _id="gridCKOExpenses" :expand>
        <table>
         <colgroup>
          <col column-id="description" sortable>
          <col column-id="eventdate" sortable>
          <col column-id="days" sortable>
          <col column-id="type" sortable>
          <col column-id="purpose" sortable>
          <col column-id="price" sortable>
          <col column-id="status" sortable>
          <col column-id="comment" sortable>
         </colgroup>
         <thead>
          <tr default>
           <th plain-text column-ids="description">Description</th>
           <th plain-text column-ids="eventdate">Eventdate</th>
           <th plain-text column-ids="days">Days</th>
           <th plain-text column-ids="type">Type</th>
           <th plain-text column-ids="purpose">Purpose</th>
           <th plain-text column-ids="price">Price</th>
           <th plain-text column-ids="status">Status</th>
           <th plain-text column-ids="comment">Comment</th>
          </tr>
         </thead>
         <tbody></tbody>
        </table>
       </vaadin-grid>
       <vaadin-horizontal-layout width-full>
        <vaadin-button visible="false" style-name="flat" width-full plain-text _id="btnEditItem">
          Edit 
        </vaadin-button>
        <vaadin-button visible="false" style-name="flat danger" width-full plain-text _id="btnDelete">
          Delete 
        </vaadin-button>
       </vaadin-horizontal-layout>
      </vaadin-vertical-layout>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>