<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-vertical-layout :middle :center>
     <vaadin-vertical-layout :middle :center>
      <vaadin-label style-name="large bold align-center" width-full plain-text>
        Key Purpose 
      </vaadin-label>
      <vaadin-label style-name="large bold align-center" width-full plain-text _id="lblDate">
        11. september 2018 
      </vaadin-label>
      <vaadin-label width-full height="20px" plain-text></vaadin-label>
      <vaadin-vertical-layout style-name="v-scrollable" height="400px" :center>
       <vaadin-label width-full _id="lblNotes" :center></vaadin-label>
      </vaadin-vertical-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>