<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-grid-layout spacing width-full>
     <row>
      <column expand="0.5">
       <vaadin-image width-full height="50%" _id="imgTop1"></vaadin-image>
      </column>
      <column expand="0.5">
       <vaadin-image width-full height="50%" _id="imgTop2"></vaadin-image>
      </column>
     </row>
     <row>
      <column>
       <vaadin-vertical-layout spacing="false" margin="false" _id="vlContent1"></vaadin-vertical-layout>
      </column>
      <column>
       <vaadin-vertical-layout spacing="false" margin="false" _id="vlContent2"></vaadin-vertical-layout>
      </column>
     </row>
    </vaadin-grid-layout>
    <vaadin-vertical-layout spacing="false" margin="false" _id="contentHolder" :expand></vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>