<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-vertical-layout style-name="card-3 card-no-padding" spacing="false" margin="false" _id="cardHolder">
    <vaadin-vertical-layout spacing="false" size-full margin="false" :expand>
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px" _id="hlTitleBar">
      <vaadin-button disable-on-click visible="false" icon="fonticon://Vaadin-Icons/e788" style-name="borderless icon-only quiet" plain-text :middle></vaadin-button>
      <vaadin-label visible="false" plain-text _id="lblTitle" :middle :expand>
        Consultant Location 
      </vaadin-label>
      <vaadin-button visible="false" style-name="borderless icon-only" plain-text _id="btnAlt1"></vaadin-button>
      <vaadin-combo-box empty-selection-allowed="false" width-full data-item-type="dk.trustworks.invoicewebui.web.model.FileItem" _id="cbFileSelector" :right :expand></vaadin-combo-box>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout spacing="false" margin="false" :expand>
      <vaadin-image width-full height="50%" _id="imgTop"></vaadin-image>
      <vaadin-vertical-layout spacing="false" height="200px" _id="content"></vaadin-vertical-layout>
     </vaadin-vertical-layout>
     <vaadin-horizontal-layout width-full>
      <vaadin-horizontal-layout _id="vlConsultants" :middle :expand="0.5"></vaadin-horizontal-layout>
      <vaadin-button icon="fonticon://Vaadin-Icons/e703" style-name="icon-only" plain-text _id="btnDownloadFile"></vaadin-button>
      <vaadin-image height="35px" _id="imgCustomer" :middle :right :expand="0.5"></vaadin-image>
     </vaadin-horizontal-layout>
     <vaadin-horizontal-layout style-name="dark-grey" width-full>
      <vaadin-label style-name="h4 white-font" plain-text _id="lblAreaTitle" :middle :center :expand>
        Label 
      </vaadin-label>
      <vaadin-button visible="false" icon="fonticon://Vaadin-Icons/e771" style-name="icon-only tiny" plain-text _id="btnEditName" :middle :right>
        Button 
      </vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
   </vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>