<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout size-auto>
   <vaadin-label style-name="h3" plain-text :center>
     Create Task 
   </vaadin-label>
   <vaadin-form-layout size-auto :middle :center>
    <vaadin-text-field caption="Name" _id="txtTaskName"></vaadin-text-field>
   </vaadin-form-layout>
   <vaadin-horizontal-layout :middle :center>
    <vaadin-button style-name="primary flat" plain-text _id="btnCreate">
      Create 
    </vaadin-button>
    <vaadin-button plain-text _id="btnCancel">
      Cancel 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>