<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
  <meta name="package-mapping" content="com_vaadin_addon_onoffswitch:com.vaadin.addon.onoffswitch">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-horizontal-layout :center>
    <vaadin-combo-box empty-selection-allowed="false" placeholder="select project" width="300px" data-item-type="dk.trustworks.invoicewebui.model.Project" data-property-id="name" _id="selProject"></vaadin-combo-box>
    <com_vaadin_addon_onoffswitch-on-off-switch description="Include active projects" _id="onOffSwitch" :middle :center>
      test 
    </com_vaadin_addon_onoffswitch-on-off-switch>
    <vaadin-button style-name="flat friendly" plain-text _id="btnAddNewProject">
      New Project 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>