<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;invoice&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-vertical-layout size-full>
   <vaadin-css-layout style-name="card-2 card-no-padding" size-full _id="cardHolder" :middle :center>
    <vaadin-vertical-layout spacing="false" margin="false">
     <vaadin-image width-full _id="logo"></vaadin-image>
     <vaadin-form-layout margin _id="formProjectDetail">
      <vaadin-text-field caption="Name" width-full _id="txtName"></vaadin-text-field>
      <vaadin-combo-box caption="RM" width-full data-item-type="dk.trustworks.invoicewebui.network.dto.User" data-property-id="username" _id="selRelationManager"></vaadin-combo-box>
      <vaadin-date-field caption="Start" date-format="dd MMM yyyy" _id="selStartDate"></vaadin-date-field>
      <vaadin-date-field caption="End" date-format="dd MMM yyyy" _id="selEndDate"></vaadin-date-field>
      <vaadin-text-field caption="Budget" _id="txtBudget"></vaadin-text-field>
      <vaadin-check-box caption="Active" _id="chkActive"></vaadin-check-box>
     </vaadin-form-layout>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>