<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-css-layout style-name="card-3 card-no-padding" width-full _id="cardHolder" :middle :center>
    <vaadin-vertical-layout spacing="false" margin="false">
     <vaadin-horizontal-layout style-name="top-bar-grey1" spacing="false" width-full height="45px">
      <vaadin-button disable-on-click icon="fonticon://Vaadin-Icons/e67b" style-name="borderless icon-only quiet" plain-text :middle></vaadin-button>
      <vaadin-label plain-text _id="lblTitle" :middle :expand>
        Project Details 
      </vaadin-label>
     </vaadin-horizontal-layout>
     <vaadin-vertical-layout spacing="false" size-full _id="container">
      <vaadin-vertical-layout spacing="false" margin="false">
       <vaadin-image width-full _id="logo"></vaadin-image>
       <vaadin-form-layout margin _id="formProjectDetail">
        <vaadin-text-field caption="Name" width-full _id="txtName"></vaadin-text-field>
        <vaadin-text-field caption="Customer ref" description="Reference is shown on invoices" width-full maxlength="75" _id="txtDescription"></vaadin-text-field>
        <vaadin-combo-box caption="RM" empty-selection-allowed="false" width-full data-item-type="dk.trustworks.invoicewebui.model.User" data-property-id="username" _id="selRelationManager"></vaadin-combo-box>
        <vaadin-date-field caption="Start" visible="false" date-format="dd MMM yyyy" _id="selStartDate"></vaadin-date-field>
        <vaadin-date-field caption="End" visible="false" date-format="dd MMM yyyy" _id="selEndDate"></vaadin-date-field>
        <vaadin-text-field visible="false" caption="Budget" _id="txtBudget"></vaadin-text-field>
        <vaadin-check-box caption="Active" _id="chkActive"></vaadin-check-box>
        <vaadin-button icon="fonticon://Vaadin-Icons/e701" style-name="primary flat" plain-text _id="btnUpdate">
          Update 
        </vaadin-button>
       </vaadin-form-layout>
      </vaadin-vertical-layout>
     </vaadin-vertical-layout>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>