<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
  <meta name="package-mapping" content="com_jarektoro_responsivelayout:com.jarektoro.responsivelayout">
 </head>
 <body>
  <vaadin-horizontal-layout width-full>
   <vaadin-button icon="fonticon://Vaadin-Icons/e73d" style-name="borderless" plain-text _id="btnIcon"></vaadin-button>
   <vaadin-label width-full plain-text _id="lblName" :middle :expand>
     Nærpension STP 
   </vaadin-label>
   <vaadin-text-field placeholder="tasks name" width-full _id="txtName" :expand></vaadin-text-field>
   <vaadin-button style-name="flat icon-only" plain-text _id="btnDelete" :middle :right></vaadin-button>
  </vaadin-horizontal-layout>
 </body>
</html>