<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-combo-box required-indicator-visible caption="Client" width-full data-item-type="dk.trustworks.invoicewebui.model.Client" _id="cbClient"></vaadin-combo-box>
   <vaadin-text-field caption="Name" width-full _id="txtName"></vaadin-text-field>
   <vaadin-text-area caption="Description" width-full _id="txtDescription"></vaadin-text-area>
   <vaadin-vertical-layout margin="false" _id="vlUserStories"></vaadin-vertical-layout>
   <vaadin-button icon="fonticon://Vaadin-Icons/e80d" width-full plain-text _id="btnAddUserStorie">
     Add Consultant 
   </vaadin-button>
   <vaadin-horizontal-layout width-full>
    <vaadin-button style-name="friendly" width-full plain-text _id="btnSave" :expand>
      Save 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>