<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-css-layout size-full>
    <vaadin-horizontal-layout width-full>
     <vaadin-button style-name="large-icon icon-align-top light-blue" width="220px" height-full plain-text _id="btnDelete" :middle :center>
       Delete Draft 
     </vaadin-button>
     <vaadin-button style-name="large-icon icon-align-top light-blue" width="220px" height-full plain-text _id="btnCreatePhantom" :middle :center>
       Create Phantom Invoice 
     </vaadin-button>
     <vaadin-button style-name="large-icon icon-align-top light-blue" width="220px" height-full plain-text _id="btnCreateInvoice" :middle :center>
       Create Invoice 
     </vaadin-button>
     <vaadin-button visible="false" style-name="large-icon icon-align-top light-blue" width-full height="150px" plain-text _id="btnCreateCreditNote" :middle :center>
       Create Credit Note 
     </vaadin-button>
     <vaadin-button visible="false" style-name="large-icon icon-align-top light-blue" width-full height="150px" plain-text _id="btnDropbox" :middle :center>
       Dropbox 
     </vaadin-button>
     <vaadin-button visible="false" style-name="large-icon icon-align-top light-blue" width-full height="150px" plain-text _id="btnDownload" :middle :center>
       Download 
     </vaadin-button>
    </vaadin-horizontal-layout>
    <vaadin-horizontal-layout style-name="box-border" width-full height="100px"></vaadin-horizontal-layout>
    <vaadin-horizontal-layout width-full>
     <vaadin-vertical-layout spacing="false" margin="false" :bottom :expand="0.6">
      <vaadin-label caption-as-html width-full :expand>
       <b>Trustworks A/S</b>
       <br> Amagertorv 29a, 3. sal 
       <br> 1160 København K 
       <br> Danmark 
       <br> Phone: +45 2366 5345 
       <br> E-mail: tobias.kjolsen@trustworks.dk 
       <br>
       <br> CVR-nr.: 35648941 
      </vaadin-label>
      <vaadin-label height="20px" plain-text></vaadin-label>
      <vaadin-label plain-text>
        Bill to: 
      </vaadin-label>
      <vaadin-text-field style-name="bold" placeholder="Client name" width="270px" _id="txtClientname"></vaadin-text-field>
      <vaadin-text-field placeholder="Street name" width="270px" _id="txtStreetname"></vaadin-text-field>
      <vaadin-text-field placeholder="Zipcode and city" width="270px" _id="txtZipCity"></vaadin-text-field>
      <vaadin-text-field placeholder="CVR" width="270px" _id="txtCvr"></vaadin-text-field>
      <vaadin-text-field placeholder="EAN" width="270px" _id="txtEan"></vaadin-text-field>
      <vaadin-css-layout width-full height="1px"></vaadin-css-layout>
      <vaadin-text-field placeholder="Attention" width="270px" _id="txtAttention"></vaadin-text-field>
     </vaadin-vertical-layout>
     <vaadin-vertical-layout width-auto height-full margin="false" :right :expand="0.4">
      <vaadin-label style-name="h1" height-full plain-text _id="lblInvoiceHeadline" :right :expand>
        INVOICE 
      </vaadin-label>
      <vaadin-horizontal-layout :middle :right>
       <vaadin-label plain-text>
         Faktura nr: 
       </vaadin-label>
       <vaadin-label plain-text _id="lblInvoiceNumber">
         XX-XXX 
       </vaadin-label>
      </vaadin-horizontal-layout>
      <vaadin-date-field range-start="2014-02-01" caption="Date:" show-iso-week-numbers date-format="yyyy/MM/dd" _id="dfInvoiceDate" :middle :right></vaadin-date-field>
      <vaadin-date-field range-start="2014-02-01" caption="Due Date:" show-iso-week-numbers date-format="yyyy/MM/dd" readonly _id="dfInvoiceDueDate" :middle :right></vaadin-date-field>
      <vaadin-horizontal-layout style-name="bg-grey" margin>
       <vaadin-label style-name="bold" plain-text>
         Balance Due: 
       </vaadin-label>
       <vaadin-label style-name="bold" plain-text _id="lblBalanceDue">
         kr. 235,100.00 
       </vaadin-label>
      </vaadin-horizontal-layout>
     </vaadin-vertical-layout>
    </vaadin-horizontal-layout>
    <vaadin-css-layout width-full height="40px"></vaadin-css-layout>
    <vaadin-vertical-layout style-name="invoice-details" margin="false">
     <vaadin-css-layout width-full>
      <vaadin-horizontal-layout width-full>
       <vaadin-label style-name="h3 bold" plain-text>
         Faktura detaljer 
       </vaadin-label>
      </vaadin-horizontal-layout>
      <vaadin-grid-layout spacing width-full _id="gridInvoiceItems">
       <row>
        <column>
         <vaadin-label style-name="bold" plain-text></vaadin-label>
        </column>
        <column>
         <vaadin-label style-name="bold" width="139px" plain-text>
           Item 
         </vaadin-label>
        </column>
        <column>
         <vaadin-label style-name="bold" width="171px" plain-text>
           Description 
         </vaadin-label>
        </column>
        <column>
         <vaadin-label style-name="bold" width="90px" plain-text>
           Rate 
         </vaadin-label>
        </column>
        <column>
         <vaadin-label style-name="bold" width="100px" plain-text>
           Quantity 
         </vaadin-label>
        </column>
        <column>
         <vaadin-label style-name="bold" width="114px" plain-text :middle :right>
           Amount 
         </vaadin-label>
        </column>
       </row>
       <row>
        <column>
         <vaadin-label plain-text>
           X 
         </vaadin-label>
        </column>
        <column>
         <vaadin-text-field style-name="tiny" width-full></vaadin-text-field>
        </column>
        <column>
         <vaadin-text-field style-name="tiny" width-full></vaadin-text-field>
        </column>
        <column>
         <vaadin-text-field style-name="tiny" width-full></vaadin-text-field>
        </column>
        <column>
         <vaadin-text-field style-name="tiny" width-full></vaadin-text-field>
        </column>
        <column>
         <vaadin-label plain-text>
           Label 
         </vaadin-label>
        </column>
       </row>
      </vaadin-grid-layout>
     </vaadin-css-layout>
    </vaadin-vertical-layout>
    <vaadin-css-layout width-full height="40px"></vaadin-css-layout>
    <vaadin-horizontal-layout style-name="box-project-description" width-full>
     <vaadin-css-layout width-full :expand></vaadin-css-layout>
     <vaadin-grid-layout spacing>
      <row>
       <column>
        <vaadin-label style-name="align-right" plain-text :middle :right>
          Subtotal 
        </vaadin-label>
       </column>
       <column>
        <vaadin-label plain-text _id="lblSumNoTax" :middle>
          91.250,00 
        </vaadin-label>
       </column>
      </row>
      <row>
       <column>
        <vaadin-horizontal-layout :middle :right>
         <vaadin-button style-name="small" plain-text _id="btnSetSKIDiscount">
           SKI 
         </vaadin-button>
         <vaadin-label style-name="align-right" plain-text :middle>
           Discounts 
         </vaadin-label>
        </vaadin-horizontal-layout>
       </column>
       <column>
        <vaadin-horizontal-layout spacing="false" :middle>
         <vaadin-text-field style-name="small align-right" width="60px" value="0" _id="txtDiscount" :middle></vaadin-text-field>
         <vaadin-combo-box empty-selection-allowed="false" style-name="small" empty-selection-caption="%" width="55px" data-item-type="java.lang.String" :middle>
          <option item="percentage">%</option>
          <option item="flat">Kr</option>
         </vaadin-combo-box>
        </vaadin-horizontal-layout>
       </column>
      </row>
      <row>
       <column>
        <vaadin-label style-name="align-right" plain-text :middle :right>
          Tax 
        </vaadin-label>
       </column>
       <column>
        <vaadin-label plain-text _id="lblTax" :middle>
          22.812,50 
        </vaadin-label>
       </column>
      </row>
      <row>
       <column>
        <vaadin-label style-name="bold align-right" plain-text :middle :right>
          Total 
        </vaadin-label>
       </column>
       <column>
        <vaadin-label style-name="bold" plain-text _id="lblSumWithTax" :middle>
          114.062,50 
        </vaadin-label>
       </column>
      </row>
     </vaadin-grid-layout>
    </vaadin-horizontal-layout>
    <vaadin-css-layout width-full height="40px"></vaadin-css-layout>
    <vaadin-vertical-layout spacing="false" margin="false">
     <vaadin-label style-name="bold" plain-text>
       Notes: 
     </vaadin-label>
     <vaadin-label width-full _id="lblContractReference">
       Projektnr.: 2016-03 For perioden: juni 2017 
     </vaadin-label>
     <vaadin-label width-full plain-text _id="lblProjectReference"></vaadin-label>
     <vaadin-horizontal-layout width-full>
      <vaadin-text-field description="description" width-full _id="txtSpecificDescription" :expand></vaadin-text-field>
      <vaadin-button icon="fonticon://Vaadin-Icons/e7d4" description="Insert last invoice description" style-name="icon-only borderless" plain-text _id="btnCopyDescription"></vaadin-button>
     </vaadin-horizontal-layout>
    </vaadin-vertical-layout>
    <vaadin-css-layout width-full height="40px"></vaadin-css-layout>
    <vaadin-vertical-layout spacing="false" margin="false">
     <vaadin-label style-name="bold" plain-text>
       Terms: 
     </vaadin-label>
     <vaadin-label width-full plain-text>
       Payment via bank transfer to the following account: Danske Bank, reg.nr. 3409, account number 11397603 Payment due in 1 month 
     </vaadin-label>
    </vaadin-vertical-layout>
   </vaadin-css-layout>
  </vaadin-vertical-layout>
 </body>
</html>