<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout spacing="false" margin="false">
   <vaadin-horizontal-layout style-name="very-light-grey" width-full height="56px" margin-left margin-right _id="hlTab">
    <vaadin-label style-name="cut_text large" width-full plain-text _id="lblClientName" :middle :expand>
      Label 
    </vaadin-label>
    <vaadin-label style-name="tiny white-font bold align-center medium-blue" width="40px" plain-text _id="lblPercent" :middle>
      100% 
    </vaadin-label>
    <vaadin-css-layout width="40px" height="40px" _id="imgAccountManager" :middle :right></vaadin-css-layout>
   </vaadin-horizontal-layout>
   <vaadin-vertical-layout visible="false" spacing="false" margin="false" _id="vlContent"></vaadin-vertical-layout>
  </vaadin-vertical-layout>
 </body>
</html>