<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:true,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-horizontal-layout width-full margin>
   <vaadin-vertical-layout spacing="false" width="10px" height-full margin="false" _id="trafficLight"></vaadin-vertical-layout>
   <vaadin-grid-layout spacing width-full :middle :expand>
    <row>
     <column expand="1.0">
      <vaadin-label style-name="bold cut_text" width-full plain-text _id="lblProjectName" :middle>
        PI Produkter - arbejdsgiverordninger (BEC) 
      </vaadin-label>
     </column>
     <column>
      <vaadin-label plain-text _id="lblAmount" :middle :right>
        kr. 325.400,00 
      </vaadin-label>
     </column>
    </row>
    <row>
     <column>
      <vaadin-label style-name="tiny bold cut_text" width-full plain-text _id="lblDescription" :middle>
        Projekt ID: 2018-006 
      </vaadin-label>
     </column>
     <column>
      <vaadin-label style-name="tiny" plain-text _id="lblInvoicedAmount" :middle :right>
        kr 311.233,00 
      </vaadin-label>
     </column>
    </row>
   </vaadin-grid-layout>
  </vaadin-horizontal-layout>
 </body>
</html>