<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;valo&quot;}">
  <meta name="vaadin-version" content="8.1.5">
 </head>
 <body>
  <vaadin-vertical-layout>
   <vaadin-horizontal-layout width-full>
    <vaadin-label style-name="h2" plain-text>
      Projects 
    </vaadin-label>
    <vaadin-button style-name="friendly" plain-text _id="btnTour" :middle :right>
      Tour 
    </vaadin-button>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout description="Select period" width-full>
    <vaadin-combo-box data-item-type="dk.trustworks.invoicewebui.web.model.YearMonthSelect" _id="cbSelectYearMonth" :middle :right></vaadin-combo-box>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout width-full>
    <vaadin-css-layout>
     <vaadin-label plain-text>
       Invoiced: 
     </vaadin-label>
     <vaadin-label style-name="bold" plain-text>
       1.250.000 kr 
     </vaadin-label>
    </vaadin-css-layout>
    <vaadin-css-layout>
     <vaadin-label plain-text>
       Not invoiced: 
     </vaadin-label>
     <vaadin-label style-name="bold" plain-text>
       150.000 kr 
     </vaadin-label>
    </vaadin-css-layout>
    <vaadin-css-layout>
     <vaadin-label plain-text>
       SO: 
     </vaadin-label>
     <vaadin-label style-name="bold" plain-text>
       150 hours 
     </vaadin-label>
    </vaadin-css-layout>
   </vaadin-horizontal-layout>
   <vaadin-horizontal-layout>
    <vaadin-button enabled="false" plain-text _id="btnCreateInvoice">
      Create invoices 
    </vaadin-button>
    <vaadin-button visible="false" plain-text _id="btnCreateBlankInvoice">
      Create blank invoice 
    </vaadin-button>
   </vaadin-horizontal-layout>
  </vaadin-vertical-layout>
 </body>
</html>